<html>
  <head>
  </head>
  <body>
    <h1>Lowdown</h1>
    <h2>Hello, <%= profile.displayName %>!</h2>

    <div id="ui"></div>

    <script>
      var TOKEN = '<%- accessToken %>';
    </script>
    <script src="/vendor/octokat/dist/octokat.js"></script>
    <script src="/javascripts/ui-bundle.js"></script>
  </body>
</html>